@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap);
.search-input-wrapper {
  width: 100%;
  height: 70px;
  padding: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #e8eef3; }

.search-input {
  width: 100%;
  background: #e8eef3;
  color: #0c2e43;
  border: none;
  outline: none; }
  .search-input:placeholder {
    color: #cdd3d7; }

.search-input--icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: #949596; }

.list-item {
  width: 100%;
  height: 70px;
  padding: 15px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30px 60px repeat(3, 5fr);
  align-items: center;
  background: #fff; }
  .list-item:nth-child(2n + 1) {
    background: #e8eef3; }

.list-item--count-pub,
.list-item--id {
  color: #cdd3d7; }

.list-item--name,
.list-item--pageviews {
  color: #0e5e8a;
  font-weight: bold; }

.list-item--pageviews {
  justify-self: end;
  align-self: start; }

.list-item--avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  background: #3dcbe1;
  color: #fff; }

.list-item--medal {
  align-self: start;
  justify-self: center;
  width: 15px;
  height: 15px; }

.list-item:nth-child(3) .list-item--avatar {
  background: #c667d0; }

.list-item:nth-child(4) .list-item--avatar {
  background: #ef906c; }

.list-item:nth-child(5) .list-item--avatar {
  background: #3eabeb; }

.list-item:nth-child(6) .list-item--avatar {
  background: #ba4960; }

.list-item:nth-child(7) .list-item--avatar {
  background: #93c277; }

.list-item:nth-child(8) .list-item--avatar {
  background: #c3467c; }

.list-item:nth-child(9) .list-item--avatar {
  background: #345af4; }

.list-item:last-child .list-item--avatar {
  background: #badc86; }

.pagination {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }

.pagination--arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.5);
  cursor: pointer; }
  .pagination--arrow:hover {
    fill: #fff; }
  .pagination--arrow:first-child {
    transform: translateX(-40px); }
  .pagination--arrow:last-child {
    transform: translateX(40px); }

.pagination--arrow.disabled {
  display: none; }

.sort-header {
  height: 40px; }
  .sort-header:last-child {
    justify-self: end; }

.authors {
  width: 100%;
  height: 100vh;
  padding: 20px 20px 80px 20px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #0c2e43, #0e5e8a); }

.authors--list-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 5px;
  background: #fff; }

.list {
  margin: 0;
  padding: 0;
  counter-reset: section;
  list-style-type: none; }

.sort-header--wrapper {
  height: 60px;
  padding: 15px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30px 60px repeat(3, 5fr);
  align-items: center;
  background: #fff;
  color: #0e5e8a; }

body {
  font-family: 'Roboto', sans-serif; }

