$darkBlue: #0c2e43;
$blue: #0e5e8a;
$white: #fff;
$lightGray: #e8eef3;
$gray: #cdd3d7;
$lightBlue: #3dcbe1;
$magenta: #c667d0;
$peach: #ef906c;
$skyBlue: #3eabeb;
$cherryPink: #ba4960;
$green: #93c277;
$strawberryPink: #c3467c;
$brightBlue: #345af4;
$lightGreen: #badc86;
