@import 'theme/colors.scss';

.list-item {
  width: 100%;
  height: 70px;
  padding: 15px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30px 60px repeat(3, 5fr);
  align-items: center;
  background: $white;

  &:nth-child(2n + 1) {
    background: $lightGray;
  }
}

.list-item--id,
.list-item--count-pub {
  color: $gray;
}

.list-item--name,
.list-item--pageviews {
  color: $blue;
  font-weight: bold;
}

.list-item--pageviews {
  justify-self: end;
  align-self: start;
}

.list-item--avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);

  background: $lightBlue;
  color: $white;
}

.list-item {
  &:nth-child(3) {
    .list-item--avatar {
      background: $magenta;
    }
  }
  &:nth-child(4) {
    .list-item--avatar {
      background: $peach;
    }
  }
  &:nth-child(5) {
    .list-item--avatar {
      background: $skyBlue;
    }
  }
  &:nth-child(6) {
    .list-item--avatar {
      background: $cherryPink;
    }
  }
  &:nth-child(7) {
    .list-item--avatar {
      background: $green;
    }
  }
  &:nth-child(8) {
    .list-item--avatar {
      background: $strawberryPink;
    }
  }
  &:nth-child(9) {
    .list-item--avatar {
      background: $brightBlue;
    }
  }
  &:last-child {
    .list-item--avatar {
      background: $lightGreen;
    }
  }
}
